.stats{
  display: flex;
  flex-direction: column;
}
.card-top {
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card-chart {
  display: inline-flex;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 435px;
}
.stats ::ng-deep .p-card .p-card-content {
  display: inline-flex;
}
.stats ::ng-deep .p-card .p-card-body{
  max-width: 267px;
  max-height: 155px;
}
table {
  width: 100%;
  min-width: 5rem;
  overflow-x: auto;
}
:host {
  display: block;
  min-width: 5rem;
  overflow: hidden;
}
.card-alerts {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-table{
  margin-left: 20px;
}
::ng-deep .p-column-filter-row p-columnfilterformelement {
  width: 90px;
}

/* For Responsive Screens*/

@media (max-width: 768px) {
  :host {
    padding: 1rem;
  }

  table {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) and (min-width: 200px){
  .card-top{
    width: 100%;
  }
}
