<div class="p-grid p-dir-col ml-4">
  <div class="p-col-12" style="width: 100%">

    <div style="display: flex;">
      <div style="margin-bottom: 10px; display: flex; justify-content: center;width: 50%;">
        <input type="text" pInputText [(ngModel)]="searchTerm" placeholder="Search tasks..." style="margin-top: 10px; width: 100%; padding: 5px;border-color: lightgrey;
        border-radius: 8px;max-height: 40px;height: 35px;">
      </div>
      <div class="addButton" style="width: 50%;">
        <p-button class="add-button" pButton icon="pi pi-plus" label="Add Task" (onClick)="openCreatePopup('Create Task')"></p-button>
      </div>
    </div>

    <div class="p-grid">
      <!-- Unstarted Column -->
      <div pDroppable class="columns" (onDrop)="onTaskDrop('unstarted')">
        <div  style="display: flex; flex-direction: column;">
          <h3 style="text-align: center;color: blue">TODO</h3>
        </div>

        <div class="p-col">
          <div *ngIf="isLoading" style="margin-bottom: 10px;">
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
          </div>

          <div *ngFor="let task of filterTasks('unstarted', searchTerm)" pDraggable (onDragStart)="dragStart(task)"
               (onDragEnd)="dragEnd()">
            <p-card [styleClass]="task.status">
              <div class="card-content">
                <div style="display:flex; justify-content: space-between">
                  <h4 style="color: blue; margin:0">{{ task.title }}</h4>
                  <div>
                    <p-tag *ngIf="task.tag"
                           [value]="task.tag"
                           [ngClass]="task.tag === 'Updates' ? 'normal-task' : 'urgent-task'">
                    </p-tag>
                  </div>
                </div>
                <p><strong style="color: #b6754d">Desc: </strong>{{ task.description }}</p>
                <p><strong style="color: #b6754d">Project: </strong>{{ task.project }}</p>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 10px;">
                    <p-progressBar [value]="task.progress"></p-progressBar>
                  </div>
                  <div class="editButtons">
                    <button class="p-button-rounded p-button-success card-buttons" pButton pRipple icon="pi pi-eye" (click)="openShowPopup(task, 'Task Detail')"></button>
                    <button class="p-button-rounded p-button-warning card-buttons" pButton pRipple icon="pi pi-pencil" (click)="openEditPopup(task, 'Edit Task')"></button>
                    <button class="p-button-rounded p-button-primary card-buttons" pButton pRipple icon="pi pi-trash" (click)="deleteTask(task?.id)"></button>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </div>

      <!-- In Progress Column -->
      <div pDroppable class="columns"  (onDrop)="onTaskDrop('in-progress')">
        <div  style="display: flex; flex-direction: column;">
          <h3 style="text-align: center;color: orange">ONGOING</h3>
        </div>

        <div class="p-col">
          <div *ngIf="isLoading" style="margin-bottom: 10px;">
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
          </div>
          <div *ngFor="let task of filterTasks('in-progress', searchTerm)" pDraggable (onDragStart)="dragStart(task)"
               (onDragEnd)="dragEnd()">
            <p-card [styleClass]="task.status">
              <div class="card-content">
                <div style="display:flex; justify-content: space-between">
                  <h4 style="color: rgb(255,169,11); margin:0">{{ task.title }}</h4>
                  <div style="float: right">
                    <p-tag *ngIf="task.tag"
                           [value]="task.tag"
                           [ngClass]="task.tag === 'Updates' ? 'normal-task' : 'urgent-task'">
                    </p-tag>
                  </div>
                </div>
                <p><strong style="color: #b6754d">Desc: </strong>{{ task.description }}</p>
                <p><strong style="color: #b6754d">Project: </strong>{{ task.project }}</p>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 10px;">
                    <p-progressBar [value]="task.progress"></p-progressBar>
                  </div>
                  <div class="editButtons">
                    <button class="p-button-rounded p-button-success card-buttons" pButton pRipple icon="pi pi-eye" (click)="openShowPopup(task, 'Task Detail')"></button>
                    <button class="p-button-rounded p-button-warning card-buttons" pButton pRipple icon="pi pi-pencil" (click)="openEditPopup(task, 'Edit Task')"></button>
                    <button class="p-button-rounded p-button-primary card-buttons" pButton pRipple icon="pi pi-trash" (click)="deleteTask(task?.id)"></button>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </div>


      <!-- Completed Column -->
      <div pDroppable class="columns"  (onDrop)="onTaskDrop('completed')">
        <div  style="display: flex; flex-direction: column;">
          <h3 style="text-align: center;color:green">COMPLETED</h3>
        </div>
        <div class="p-col">
          <div *ngIf="isLoading" style="margin-bottom: 10px;">
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader appearance="" [theme]="{ 'width': '100%', 'height': '80px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
          </div>
          <div *ngFor="let task of filterTasks('completed', searchTerm)" pDraggable (onDragStart)="dragStart(task)"
               (onDragEnd)="dragEnd()">
            <p-card [styleClass]="task.status">
              <div class="card-content">
                <div style="display:flex; justify-content: space-between">
                  <h4 style="color: green; margin:0">{{ task.title }}</h4>
                  <div style="float: right">
                    <p-tag *ngIf="task.tag"
                           [value]="task.tag"
                           [ngClass]="task.tag === 'Updates' ? 'normal-task' : 'urgent-task'">
                    </p-tag>
                  </div>
                </div>
                <p><strong style="color: #b6754d">Desc: </strong>{{ task.description }}</p>
                <p><strong style="color: #b6754d">Project: </strong>{{ task.project }}</p>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 10px;">
                    <p-progressBar [value]="task.progress"></p-progressBar>
                  </div>
                  <div class="editButtons">
                    <button class="p-button-rounded p-button-success card-buttons" pButton pRipple icon="pi pi-eye" (click)="openShowPopup(task, 'Task Detail')"></button>
                    <button class="p-button-rounded p-button-warning card-buttons" pButton pRipple icon="pi pi-pencil" (click)="openEditPopup(task, 'Edit Task')"></button>
                    <button class="p-button-rounded p-button-primary card-buttons" pButton pRipple icon="pi pi-trash" (click)="deleteTask(task?.id)"></button>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<p-confirmDialog class="custom-confirm-dialog" [style]="{width: '450px', height: '220px'}"></p-confirmDialog>
