$my-palette-primary: (
    50 : #fff6e6,
    100 : #fee9c1,
    200 : #fddb98,
    300 : #fccd6f,
    400 : #fcc250,
    500 : #fbb731,
    600 : #fab02c,
    700 : #faa725,
    800 : #f99f1f,
    900 : #f89013,
    A100 : #ffffff,
    A200 : #fff9f3,
    A400 : #ffe0c0,
    A700 : #ffd4a7,
    contrast: (
        50 : #3D3D3D,
        100 : #3D3D3D,
        200 : #3D3D3D,
        300 : #3D3D3D,
        400 : #3D3D3D,
        500 : #3D3D3D,
        600 : #3D3D3D,
        700 : #3D3D3D,
        800 : #3D3D3D,
        900 : #3D3D3D,
        A100 : #3D3D3D,
        A200 : #3D3D3D,
        A400 : #3D3D3D,
        A700 : #3D3D3D,
    )
);

$my-palette-accent: (
    50 : #e8e1f1,
    100 : #c7b5dd,
    200 : #a184c6,
    300 : #7b52af,
    400 : #5f2d9d,
    500 : #43088c,
    600 : #3d0784,
    700 : #340679,
    800 : #2c046f,
    900 : #1e025c,
    A100 : #a78dff,
    A200 : #7f5aff,
    A400 : #5727ff,
    A700 : #440eff,
    contrast: (
        50 : #3D3D3D,
        100 : #3D3D3D,
        200 : #3D3D3D,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #3D3D3D,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-palette-warn: (
    50 : #fce4e5,
    100 : #f6bcbe,
    200 : #f18f93,
    300 : #eb6267,
    400 : #e64147,
    500 : #e21f26,
    600 : #df1b22,
    700 : #da171c,
    800 : #d61217,
    900 : #cf0a0d,
    A100 : #fff9f9,
    A200 : #ffc6c7,
    A400 : #ff9394,
    A700 : #ff7a7b,
    contrast: (
        50 : #3D3D3D,
        100 : #3D3D3D,
        200 : #3D3D3D,
        300 : #3D3D3D,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #3D3D3D,
        A200 : #3D3D3D,
        A400 : #3D3D3D,
        A700 : #3D3D3D,
    )
);